* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

* p {
  color: #3d405b;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Nav bar */
nav {
  border: #e76f51 solid 2px;
  background-color: #e76f51;
  padding: 15px;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 35px;
}

.nav-links a {
  margin: 10px;
  font-size: 25px;
}

nav h1,
nav a {
  text-decoration: none;
  color: #3d405b;
}

nav a:hover {
  color: #e9c46a;
}

/* Header / get started homepage */

.App {
  text-align: center;
}

header {
  padding: 200px;
}

header h2 {
  font-size: 35px;
  color: #3d405b;
}

span {
  display: block;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-check {
  font-size: 35px;
  color: #3d405b;
}

/* button */
#get-started {
  padding: 14px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #3478dd;
  border: 3px #3478dd solid;
  box-shadow: 0 3px 0 #3d405b;
  cursor: pointer;
  transition: all 0.1s linear;
}

#get-started:active {
  box-shadow: 0 3px 0 #3d405b;
  transform: translateY(3px);
}

#get-started a {
  text-decoration: none;
  color: white;
}

/* Features / get started homepage */

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e76f51;
  padding: 150px;
}

.features-p {
  width: 45%;
  border: #e9c46a 2px solid;
  border-radius: 20px;
  padding: 50px;
  margin: 15px;
  color: #3d405b;
}

.homepage-features {
  display: flex;
}

.features-check,
.features-update,
.features-star {
  font-size: 80px;
  color: #3d405b;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .homepage-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e76f51;
    padding: 75px;
  }

  .features-p {
    border: #e9c46a 2px solid;
    padding: 77px;
    margin: 15px;
    width: 100%;
    color: #3d405b;
  }
}
/* WhyUseDIA / get started homepage */

.why-section {
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-section h3 {
  font-size: 35px;
  color: #3d405b;
}

.why-section p {
  padding: 35px;
  width: 70%;
  color: #3d405b;
  font-size: 20px;
}

.why-span {
  padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .why-section p {
    padding: 35px;
    width: 90%;
    color: #3d405b;
    font-size: 16px;
  }
}

/* Footer */
.footer {
  border: #e76f51 2px solid;
  background-color: #e76f51;
  color: #3d405b;
  height: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Homepage media queries */

@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    padding: 50px;
  }

  .why-section {
    padding: 50px;
  }

  .features {
    padding: 122px;
  }
}

/* About page */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  color: #3d405b;
}

.about-categories {
  display: flex;
  justify-content: center;
}

.how-it-works {
  width: 50%;
}

.how-it-works ol {
  text-align: initial;
  padding-top: 15px;
}

.about-ul {
  list-style-type: none;
  padding: 0;
}

.about-ul li {
  padding: 25px;
}

.about h1 {
  margin-top: 40px;
  color: #3d405b;
}

/* Login page */

.credentials-section {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  padding: 30px;
  border-radius: 20px;
  align-items: center;
  margin-top: 2%;
  background: #e76f51;
}

.create-account {
  padding: 15px;
  font-size: 25px;
}

.login-form-input {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
}

.login-sign-in {
  padding: 12px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #3478dd;
  color: white;
  cursor: pointer;
}

.login-username,
.login-password {
  font-size: 20px;
  padding: 5px;
  color: #3d405b;
}

.login-form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.login-form {
  color: #3d405b;
}

.login-form h1 {
  margin-top: 25px;
}

.create-an-account {
  padding: 15px;
}

.register-button,
.logout-button,
.login-button {
  border: none;
  background: none;
  font-size: 25px;
  color: #3d405b;
  padding: 0;
}

.register-button:hover,
.logout-button:hover,
.login-button:hover {
  color: #e9c46a;
}

/* Register user page */

.register-user {
  display: flex;
  justify-content: center;
}

.register-form {
  border-radius: 20px;
  background: #e76f51;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: grey 2px solid;
  width: 40%;
  padding: 50px;
  margin-top: 5%;
}

.register-form input {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
}

.register-name,
.register-username,
.register-password,
.confirm-password {
  font-size: 20px;
  padding: 5px;
  color: #3d405b;
}

.register-error {
  border: 2px white solid;
  border-radius: 20px;
  padding: 5px;
  background: white;
  color: #3d405b;
}

.register-submit {
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #3478dd;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: grey 2px solid;
    width: 80%;
    padding: 50px;
    border-radius: 20px;
    margin-top: 10%;
  }
}

/* CategoriesPage / Main categories page */

.categories-header h1,
h2 {
  color: #3d405b;
}

.prod {
  background-color: #48cae4;
}

.fit {
  background-color: #e76f51;
}

.fin {
  background-color: #e9c46a;
}

.trav {
  background-color: #64dfdf;
}

.bucket-list-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
  max-width: 1200px;
  flex-direction: column;
  padding-bottom: 10px;
}

.add-cat-button {
  background: white;
}

.add-cat-button a,
a:active {
  font-size: 15px;
  text-decoration: none;
  color: #3d405b;
}

.bucket-list-category {
  margin: 15px 2.5%;
  padding: 50px;
  flex-basis: 45%;
  box-sizing: border-box;
  border-radius: 20px;
}

.categories-1-2,
.categories-3-4 {
  flex: 1;
}

@media screen and (min-width: 767px) {
  .bucket-list-categories {
    flex-direction: row;
  }

  header.categories-header {
    padding: 45px;
  }
}

.bucket-list-categories button {
  border-radius: 20px;
  color: black;
  padding: 10px;
  font-size: 15px;
}

.view-bucket-list-todos {
  margin-bottom: 50px;
  border: #3478dd 2px solid;
  border-radius: 20px;
  padding: 15px;
  font-size: 25px;
  background: #3478dd;
  box-shadow: 0 2px 0 #3d405b;
  cursor: pointer;
  transition: all 0.1s linear;
}

.view-bucket-list-todos a {
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
  color: white;
}

.view-bucket-list-todos:active {
  box-shadow: 0 2px 0 #3d405b;
  transform: translateY(3px);
}

/* Todolist / main todos page */

.completed-check-logo {
  position: relative;
  bottom: 25px;
  left: 5px;
  font-size: 30px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .completed-check-logo {
    position: relative;
    bottom: 45px;
    left: 0px;
    font-size: 45px;
    color: white;
  }
}

.create-todo-button {
  padding: 10px;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #3478dd;
  border: 3px #3478dd solid;
  box-shadow: 0 3px 0 #3d405b;
  cursor: pointer;
  transition: all 0.1s linear;
  color: white;
}

.create-todo-button:active {
  color: white;
  box-shadow: 0 3px 0 #3d405b;
  transform: translateY(3px);
}

.create-todo-button a {
  text-decoration: none;
  color: white;
}

.create-todo-button a:visited {
  color: white;
}

.productivity {
  background-color: #48cae4;
}

.fitness {
  background-color: #e76f51;
}

.finance {
  background-color: #e9c46a;
}

.travel {
  background-color: #64dfdf;
}

.productivity,
.fitness,
.finance,
.travel h3 {
  text-decoration: none;
}

.pending-todos ul a {
  text-decoration: none;
}

.completed-todos ul a {
  text-decoration: none;
}

.completed-todos,
.pending-todos a:link {
  color: white;
}

.completed-todos a:visited {
  color: white;
}

.checkmark-todos {
  float: right;
}

.pending-todos a:visited {
  color: white;
}

.main-todos {
  text-align: center;
  display: flex;
}

.TodoList,
.view-todo {
  flex: 1;
}

.inactive-form {
  display: none;
}

ul li {
  padding: 10px;
  list-style-type: none;
  border-radius: 20px;
  margin: 10px;
  background-color: #e5e5e5;
}

ul {
  padding-left: 0;
}

.view-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-todo-task {
  border: #e76f51 2px solid;
  background: #e76f51;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  width: 85%;
}

.view-todo-category {
  color: #3d405b;
}

.todo-textbox {
  padding: 5px;
  border: grey 2px solid;
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  margin-top: 5%;
}

.todo-details,
.todo-checkbox,
.edit-delete-todos {
  margin-top: 10px;
}

.todo-textbox {
  background: white;
}

.edit-delete-todos {
  display: inline-block;
  padding: 10px;
}

.delete-button,
.edit-button,
.close-button {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #3478dd;
  border: 3px #3478dd solid;
  box-shadow: 0 3px 0 #3d405b;
  color: white;
  cursor: pointer;
}

.todo-checkbox {
  display: flex;
  justify-content: center;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkmark p {
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .main-todos {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .view-todo {
    display: none;
  }

  .view-todo-desktop {
    display: none;
  }

  .create-todo-desktop {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 427px) {
  .pending-todos ul li {
    display: flex;
    justify-content: space-around;
  }

  .view-todo-modal-button {
    padding: 7px;
    margin: 5px;
    background: none;
    border: none;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .view-todo-modal-button {
    display: none;
  }
  .view-todo-modal {
    display: none;
  }

  .create-todo-mobile {
    display: none;
  }
}

/* AddProductivityFolder */
.productivity-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

/* AddProductivityTodo  */

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #e76f51 solid 2px;
  background: #e76f51;
  border-radius: 20px;
  padding: 15px;
  width: 75%;
}

.add-todo-button,
.back-button {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #3478dd;
  border: 3px #3478dd solid;
  box-shadow: 0 3px 0 #3d405b;
  color: white;
  cursor: pointer;
}

#category-dropdown {
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
}

.add-todo-label {
  font-size: 20px;
  padding: 5px;
  color: #3d405b;
}

.add-name-input {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
}

.add-description-input {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
  height: 100px;
}

/* Modal styling */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 5, 5, 0.056);
}

.modal-main {
  position: fixed;
  background: #e76f51;
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main h2 {
  margin-top: 25px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Edit form */

.edit-todos {
  justify-content: center;
  display: flex;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.edit-name-input {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
}

.edit-description-input {
  border-radius: 20px;
  padding: 5px;
  width: 90%;
  height: 100px;
}

.edit-todo-label {
  font-size: 20px;
  padding: 5px;
  color: #3d405b;
}

.edit-section {
  width: 100%;
  border: #e76f51 2px solid;
  background: #e76f51;
  border-radius: 20px;
  padding: 15px;
}

.edit-todos-button {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #3478dd;
  border: 3px #3478dd solid;
  box-shadow: 0 3px 0 #3d405b;
  color: white;
  cursor: pointer;
}
